<footer class="footer">
  <div class="footer-contact">
    <div class="website">
      <a href="https://www.richard-halford.com" target="_blank"
      >R<span>H</span></a
      >
    </div>
    <div class="twitter">
      <a href="https://www.twitter.com/richardhalford_" target="_blank"
      ><i class="fab fa-twitter"></i
        ></a>
    </div>
    <div class="linkedin">
      <a href="https://www.linkedin.com/in/richard-halford" target="_blank"
      ><i class="fab fa-linkedin"></i
        ></a>
    </div>
    <div class="github">
      <a href="https://www.github.com/rsHalford" target="_blank"
      ><i class="fab fa-github"></i
        ></a>
    </div>
    <div class="gitlab">
      <a href="https://www.gitlab.com/rsHalford" target="_blank"
      ><i class="fab fa-gitlab"></i
        ></a>
    </div>
  </div>
  <div class="footer-feeds">
    <div>
      <p>Richard Halford &copy; 2021</p>
    </div>
    <div class="rss">
      <a href="{% url 'rss_feed' %}"><i class="fas fa-rss-square"></i>RSS</a>
    </div>
    <div class="atom">
      <a href="{% url 'atom_feed' %}"><i class="fas fa-atom"></i>Atom</a>
    </div>
    <div class="sitemap">
      <a href="{% url 'sitemap' %}"><i class="fas fa-sitemap"></i>Sitemap</a>
    </div>
  </div>
</footer>
