<div class="sidebar-section-container theme">
  <h3 class="sidebar-section-title">Theme</h3>
  <div class="sidebar-section-list theme">
    <div class="color-mode-container">
      <i class="far fa-lightbulb" id="light-off"></i>
      <i class="fas fa-lightbulb" id="light-on"></i>
      <div class="color-mode-switch">
        <label id="switch" class="switch">
          <input type="checkbox" onchange="toggleTheme()" id="slider" />
          <span class="slider toggle"></span>
        </label>
      </div>
    </div>
  </div>
</div>

