{% extends "base.html" %}

{% load i18n %}


{% block title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<div class="content">
  {% block sidebar %}
  {% endblock sidebar %}
  <div class="main-container">
    <div class="main-section-container">
      <div class="main-header">
        <div class="main-title">
          <h1>{% trans "Account Inactive" %}</h1>
        </div>
      </div>
      
      <div class="main-list">
        <div class="list-entry-container">
          <p>{% trans "This account is inactive." %}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
