{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Confirm E-mail Address" %}{% endblock %}
{% block content %}
<div class="content">
  {% block sidebar %}
    <div class="sidebar-container">
      {% include 'sidebar_account.html' %}
    </div>
  {% endblock sidebar %}
  <div class="main-container">
    <div class="main-section-container">
      <div class="main-header">
        <div class="main-title">
          <h1>{% trans "Confirm E-mail Address" %}</h1>
        </div>
      </div>

      <div class="main-list">
        <div class="list-entry-container">
        {% if confirmation %}
          {% user_display confirmation.email_address.user as user_display %}
          <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
          <form class="form-entry" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
          {% csrf_token %}
            <button class="form-entry-submit" type="submit">{% trans "Confirm" %}</button>
          </form>
        {% else %}
          {% url 'account_email' as email_url %}
          <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
