{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="content column">
  {% block sidebar %}
  {% endblock sidebar %}
  <div class="main-container">
    <div class="main-section-container">
      <div class="main-header">
        <div class="main-title">
          <h1>{% trans "Sign in" %}</h1>
        </div>
      </div>
      
      <div class="main-list">
        <div class="list-entry-container providers">
          {% get_providers as socialaccount_providers %}
          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>
          
          {% include "socialaccount/snippets/login_extra.html" %}
        </div>
          
        <div class="list-entry-container form">
          <form class="form-entry" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="form-entry-submit" type="submit">{% trans "Sign in" %}</button>
          </form>
        </div>
    
        <div class="list-entry-container navigate">
          <div class="one">
            <a href="{% url 'account_signup' %}">Create account</a>
          </div>
          <div class="two">
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
