{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="content column">
  {% block sidebar %}
  {% endblock sidebar %}
  <div class="main-container">
    <div class="main-section-container">
      <div class="main-header">
        <div class="main-title">
          <h1>{% trans "Password reset" %}</h1>
        </div>
      </div>

      <div class="main-list">
        <div class="list-entry-container form">
          <div class="account-form-note">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <h3 style="text-align: center;">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</h3>
          </div>
        </div>
    
        <div class="list-entry-container navigate column">
          <div class="one">
            <a href="{% url 'index' %}">Return home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
