{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<div class="content">
  {% block sidebar %}
    <div class="sidebar-container">
      {% include 'sidebar_account.html' %}
    </div>
  {% endblock sidebar %}
  <div class="main-container">
    <div class="section-container">
      <div class="account-header">
        <h1>{% trans "Change password" %}</h1>
      </div>
      
      <div class="account-form-container">
        <div class="account-form-entry">
          <form class="form-entry change" method="POST" action="{% url 'account_change_password' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="form-entry-submit change" type="submit" name="action">{% trans "Change password" %}</button>
          </form>

          <hr>
    
          <div class="form-other">
            <div class="one">
              <a href="{% url 'index' %}">Return home</a>
            </div>
            <div class="two">
              <a href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
