{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="content settings">
  {% block sidebar %}
  {% endblock sidebar %}
  <div class="main-container">
    <div class="section-container">
      <div class="account-header">
        <h1>{% trans "Password reset" %}</h1>
      </div>

      <div class="account-form-container">
        <div class="account-form-entry reset">
          <div class="account-form-note">
            {% if user.is_authenticated %}
              {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
          </div>
      
          <form method="POST" action="{% url 'account_reset_password' %}" class="form-entry reset">
              {% csrf_token %}
              {{ form.as_p }}
              <input class="form-entry-submit reset" type="submit" value="{% trans 'Reset my password' %}" />
          </form>

          <hr>
    
          <div class="form-other reset">
            <div class="one reset">
              <a href="{% url 'index' %}">Return home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
