{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="content column">
  {% block sidebar %}
  {% endblock sidebar %}
  <div class="main-container">
    <div class="main-section-container">
      <div class="main-header">
        <div class="main-title">
          <h1>{% trans "Your password is now changed" %}</h1>
        </div>
      </div>
      <div class="main-list">
        <div class="list-entry-container navigate column">
          <div class="one">
            <a href="{% url 'index' %}">Return home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
