{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Set password" %}{% endblock %}

{% block content %}
<div class="content">
  {% block sidebar %}
  {% endblock sidebar %}
  <div class="main-container">
    <div class="main-section-container">
      <div class="main-header">
        <div class="main-title">
          <h1>{% trans "Set password" %}</h1>
        </div>
      </div>
      
      <div class="main-list">
        <div class="list-entry-container form">
          <form class="form-entry" method="POST" action="{% url 'account_set_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="form-entry-submit set" type="submit" name="action" value="{% trans 'Set password' %}"/>
          </form>
        </div>

        <div class="list-entry-container navigate column">
          <div class="one">
            <a href="{% url 'index' %}">Return home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
