{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Set password" %}{% endblock %}

{% block content %}
<div class="content">
  {% block sidebar %}
  {% endblock sidebar %}
  <div class="main-container">
    <div class="section-container">
      <div class="account-header">
        <h1>{% trans "Set password" %}</h1>
      </div>
      
      <div class="account-form-container">
        <div class="account-form-entry">
          <form class="form-entry set" method="POST" action="{% url 'account_set_password' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <input class="form-entry-submit set" type="submit" name="action" value="{% trans 'Set password' %}"/>
          </form>

          <hr>
    
          <div class="form-other set">
            <div class="one set">
              <a href="{% url 'index' %}">Return home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
