<body style="font-family: serif; font-size: 16px; margin:0; padding:0; background-color:#1d2021; color: #fcf1c7;">
  <table align="center" border="0" cellpadding="0" cellspacing="0"
    width="100%" bgcolor="#1d2021" style="width: 100%; background-color: #1d2021;">
    <tbody>
      <tr>
        <td valign="top" style="font-family: sans; font-size: 16px; vertical-align: top;">&nbsp;</td>
        <td width="600" valign="top" style="font-family: sans; font-size: 16px; vertical-align: top; margin: 0 auto !important; max-width: 600px; padding: 0; padding-top: 24px; width: 600px;">
          <div style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 600px; padding: 0;">
            <span style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; visibility: hidden; width: 0;"></span>
            <!-- MAIN -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: separate; width: 100%; background-color: #282828;">
              <tbody>
                <tr>
                  <td valign="top" style="font-family: sans; font-size: 16px; vertical-align: top; box-sizing: border-box; padding: 24px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: separate; width: 100%;">
                      <tbody>
                        <tr>
                          <td valign="top" style="font-family: sans; font-size: 16px; vertical-align: top;">
                            <p>Hi there,</p>
                            <p>Thanks for subscribing to the newsletter.</p>
                            <p>We will be sending you the latest articles on <a style="color: #cc241d;" href="https://www.xhalford.com">xhalford.com</a>. Mail frequency won't be more than twice a month. We hate spamming as much as you do.</p>
                            <p>To confirm your subscription, please follow the link below.</p>
                            <p><a style="color: #cc241d;" href="{{ confirmation_url }}">{{ confirmation_url }}</a></p>
                            <p>If you think this is a mistake, just ignore this email and we won't bother you again.</p>
                            <p>Please do not reply to this email.</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- END MAIN -->
          </div>
        </td>
        <td valign="top" style="font-family: sans; font-size: 16px; vertical-align: top;">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</body>
